<div id="interactTwoTableContent">
    <%= link_to "Backend Processes References", backendprocess_path %></br>
    <%= link_to "Keeping it legal", legalissues_path %>
    </br>
    <button>
        <a href="home.html">Home</a>
    </button>
</div>