<div id="custBotmDiv">
   <nav class="navBottom" >
   <ul>
<%= render :partial => 'shared/topRowBtmNav' %>
<%= render :partial => 'shared/secondRowBtmNav' %>
<%= render :partial => 'shared/iconRowBtmNav' %>
   </ul>
   </nav>
<%= render :partial => 'shared/legalFooter' %>
   </div>