<head>
<meta charset="UTF-8"> 
<title>Stuff</title>


<link rel="stylesheet" type="text/css" media="screen and (max-width: 5000px) and (min-width: 481px)" href="css/application.css"> 
<link rel="stylesheet" type="text/css" media="screen and (max-width: 480px) and (min-width: 0px)" href="css/mystyle480and0.css"> 
<%= stylesheet_link_tag 'emregistry', 'http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css' %>
<%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js" %>
<%= javascript_include_tag "http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js" %>
</head>