<li class="navSiteMapList">
   <b class="admin">Admin only row</b>
   |<%= link_to "Play Ground", playground_path, :class => 'styleMySiteMapLinks' %>
   |<%= link_to " Website Issues", problems_path, :class => 'styleMySiteMapLinks' %>
   |<a href="#" class="styleMySiteMapLinks"> Graphics </a>
   |<%= link_to "Business Plan", businessplan_path, :class => 'styleMySiteMapLinks' %>
   |
</li>