<li class="navSiteMapList">
   |<%= link_to " Home", root_path, :class => "styleMySiteMapLinks" %>
   |<a href="#" class="styleMySiteMapLinks"> Start a listing </a>
   |<a href="#" class="styleMySiteMapLinks"> Contact Us </a>
   |<a href="#" class="styleMySiteMapLinks"> Be a Service Provider </a><!--Cont next line -->
   |<a href="#" class="styleMySiteMapLinks"> Legal </a>
   |<a href="#" class="styleMySiteMapLinks"> Advertise with Us </a>
   |<a href="#" class="styleMySiteMapLinks"> Be a Consumer </a>
   |<a href="#" class="styleMySiteMapLinks"> Calculators and Tools </a>|
   </li>