<div id="interactTwoTableContent">
  <ul>
  <li class="listStyleBulletGoAwayLeft">1. From User Originator: Create Link is clicked on.</li>
  <li class="listStyleBulletGoAwayLeft">2. User Originator: User type is selected and form is filled out and validated.</li>
  <li class="listStyleBulletGoAwayLeft">3. Create Request button is pushed and added to the database</li>
  <li class="listStyleBulletGoAwayLeft">4. On screen status message is sent to User, inbox msg is sent to user, email is sent to user</li>
  <li class="listStyleBulletGoAwayLeft">5. Redirect to view Current requests page</li>
  <li class="listStyleBulletGoAwayLeft">6. From other interested Users: The read button event happens</li>
  <li class="listStyleBulletGoAwayLeft">7. From other interested Users: The contact button event happens</li>
  <li class="listStyleBulletGoAwayLeft">8. From other interested Users: The Response from is filled out and validated</li>
  <li class="listStyleBulletGoAwayLeft">9. From other interested Users: The Send button event happens</li>
  <li class="listStyleBulletGoAwayLeft">10. From other intersted Users: 
                                        The On screen status message is sent to User and OIU. 
										Inbox msg is sent to user and OIU. 
										Email is set to user and OIU.</li>
  </ul>
  <a href="home.html"><button>Home</button></a><a href="userType.html"><button>Go Back</button></a>
</div>