<!DOCTYPE html>
<%= render :partial => 'shared/head' %>
<body>
<%= render :partial => 'shared/topNavBar' %>
<%= render :partial => 'gctspgimage/gctspgImage' %> <!--case sensitive -->
<%= render :partial => 'shared/btmCustNavContainer' %>
</body>
</html>