<div id="interactTwoTableContent">
<p>Welcome to the backend processes reference!</p>
<p><%= link_to "User-Type,Use, Event", usertype_path %></p>
<button><a href="businessPlan.html">Go Back</a></button>
<%= link_to "Home", root_path %>
</div>