<!DOCTYPE html>
<%= render :partial => 'shared/head' %>
<body>
<%= render :partial => 'shared/topNavBar' %>
<%= render :partial => 'backendprocess/bckndPrss' %>
<%= render :partial => 'shared/btmCustNavContainer' %>
</body>
</html>